:root {
    --c-light: #e4e3f4;
    --c-medium: #5347f7;
    --c-dark: #2a2570; 
    --c-accent: #ffb700;
}
* {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #444;
    background-color: #eee;
}

h2 {
    text-transform: uppercase;
    font-size: .9em;
    color: gold;
    margin-bottom: 1em;
}

#nav {
    background-color: var(--c-dark);
    color: white;
    padding: 15px;
    text-align: center;
}

#nav h1 {
    margin: 0;
    font-size: 1.5em;
}

#nav input {
    margin-left: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.chart-container, .stats-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 1% 2%;
    border: 0px solid gold;
}

.item {
    flex: 1 1 0;
    background-color: white;
    border-radius: 2px;
    box-shadow: 5px 5px 3px #CCC;
    margin: 10px 20px;
    padding: 25px;
}

.scatter-plot {
    flex: 2 2 0;
}

.stat-item {
    height: 140px;
}

.stat {
    font-weight: 800;
    color: var(--c-dark);
    font-size: 2.5em;
}

.alternate1 {
    position: absolute;
    animation: fade 4s 0s cubic-bezier(.1,.9,.1,.9) alternate infinite;
}

.alternate2 {
    position: absolute;
    animation: fade 4s 0s cubic-bezier(.1,.9,.1,.9) alternate-reverse infinite;
}

@keyframes fade{
    0%, 50% {
      opacity: 0;
    }
    100%{
      opacity: 1;
  }
}

@keyframes show {to {opacity: 1}}
@keyframes hide {to {opacity: 0}}

svg, input {
    margin: 0 auto;
    border: 0px solid gold;
} 

.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

.axis path, .axis line {
    fill: none;
    stroke: navajowhite;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 10px;
}


@keyframes changeFill { to {fill: yellow}}

/* line / scatter plot */

.tick line {
    stroke: var(--c-dark);
    opacity: 0.25;
}

.tooltip {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.5);
    left: -50%;
}

.tooltip p {
    margin: 0;
}

/* histogram */

.bin-count {
    text-align: center;
  }
  