:root {
    --c-light: #e4e3f4;
    --c-dark: #2a2570; 
    --c-accent: #ffb700;
}

* {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

h1 {
    margin: 0;
    font-size: 1.5em;
}


h2 {
    text-transform: uppercase;
    font-size: .9em;
    color: gold;
    margin-bottom: 1em;
}

a {
    color: var(--c-dark);
    text-decoration: none;
    font-weight: bold;
}

a:hover { color: var(--c-accent) }

.wrapper {
    min-height: 95vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#nav {
    background-color: var(--c-dark);
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.chart-container, .stats-container {
    display: flex;
    flex-wrap: wrap;
    min-width: 95%;
    margin: 0 auto;
}

.item {
    flex: 1 1 1;
    flex-grow: 1;
    align-self: stretch;
    background-color: white;
    border-radius: 2px;
    box-shadow: 3px 3px 3px #ddd;
    margin: .7em;
    padding: 1.5em;
}

.stat-item {
    flex-basis: 13em; /* 10 characters + left+right padding */
    min-height: 90px;
}

.stat-item p > span {
    font-weight: 800;
    color: var(--c-dark);
    font-size: 2.3em;
}

.alternate1 {
    position: absolute;
    animation: fade 4s 0s cubic-bezier(.1,.9,.1,.9) alternate infinite;
}

.alternate2 {
    position: absolute;
    animation: fade 4s 0s cubic-bezier(.1,.9,.1,.9) alternate-reverse infinite;
}

@keyframes fade {
    0%, 50% { opacity: 0 }
    100% { opacity: 1 }
}

/* line / scatter plot */

.scatter-plot .scatter-circle {
    stroke: var(--c-dark);
    stroke-width: 2;
}

.scatter-plot .line {
    stroke-width: 3;
}

.scatter-plot .y-axis line {
    stroke: var(--c-dark);
    shape-rendering: crispEdges;
}

.scatter-plot .y-axis path {
    stroke: var(--c-dark);
}

.scatter-plot .y-axis text {
    fill: var(--c-dark);
}

.scatter-plot .tooltip {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.7);
    left: -50%;
}

.tooltip p {
    margin: 0;
}
  
  /* bar */

.bar-chart {
    fill: var(--c-dark);
    
}

.bar-chart line#limit {
    stroke: var(--c-accent);
    stroke-width: 2;
    stroke-dasharray: 4 4;
}

.bar-chart path {
    stroke: var(--c-dark);
}

.grid path, .grid .tick line {
    stroke: none;
}

.bar-chart text.divergence {
    fill: var(--c-light);
}

/* pie */

.pie-chart .percentage {
    font-size: 1.9em;
    text-anchor: middle;
}

.pie-chart text.weekday {
    font-size: 1.1em;
    text-anchor: middle;
}

/* dataset info */ 

.data {
    margin: .6em 1.2em;
}


@media only screen and (max-width: 1200px) { 
    .container {
        width: 100%;
    }

    .stat-item {
        flex-basis: 9.1em; /* 10 characters + left+right padding *.7 */  
    }

    .stats-container, .chart-container {
        padding: 5px 5px 0 5px;
    }

    .item {
        margin: 5px;
        padding: 10px 14px;
    }

    .stat-item p > span {
        font-size: 1.3em;
    }

    .scatter-plot .y-axis text {
        font-size: 30px;
    }

    .scatter-plot { order: 1}
    .bar-chart { order: 2 }
    .pie-chart { order: 3}
    

    #scatter {
        width: 100%;
        height: calc(50vw - 10px);
    }

    #bar, #pie {
        width: 100%;
        height: calc(100vw - 10px);
    }    
}